@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: hsl(0, 100%, 100%);
  --purple-light: hsl(275, 100%, 97%);
  --purple: hsl(292, 16%, 49%);
  --purple-dark: hsl(292, 42%, 14%);
}

@layer base {
  html {
    font-size: clamp(0.8em, 0.2em + 1.8vw, 1.5em);
  }

  body {
    font-family: "Work Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }
  p {
    font-size: 1rem;
    color: var(--purple);
  }

  main {
    @apply min-h-screen bg-(--purple-light);
  }
}

@layer components {
  .header {
    @apply min-w-full z-1 relative md:bg-[url(/images/background-pattern-desktop.svg)] bg-[url(/images/background-pattern-mobile.svg)] md:h-[40vh] h-[30vh] bg-no-repeat bg-cover;
  }

  .faq-container {
    @apply bg-(--white) rounded-lg shadow-lg p-5 max-w-[20rem] mx-auto -mt-[6rem] lg:-mt-[6rem] z-2 relative md:max-w-[30rem];
  }

  .button-accordion {
    @apply relative size-8 rounded-full bg-[url(/images/icon-plus.svg)] bg-no-repeat bg-center has-checked:bg-[url(/images/icon-minus.svg)] bg-cover;
  }
  .content-accordion {
    height: 0;
    overflow-y: hidden;
  }
  .open-acc {
    height: 100;
  }
}

@theme {
  --animate-open: open 5s ease-in;

  @keyframes open {
    0% {
      height: 0%;
    }
    100% {
      height: 100%;
    }
  }
}
